html, body {
    font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    margin:0px;
    padding:0px;
    overflow:hidden;
    background:#ccc;
}

#container {
    display:table;
    margin:2em auto;

    color:#fff;

    padding:1em;
    background:black;

    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000');
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";

    /* Firefox */
    -moz-box-shadow: 3px 3px 10px #000;
    /* WebKit */
    -webkit-box-shadow: 3px 3px 10px #000;
    /* Standard */
    box-shadow: 3px 3px 10px #000;
}

#shell {
    padding:0.5em;
    background:black;
}

#menu {
    text-align:right;
    padding:0.5em;
}

.readonly {
    border:0.5em solid red;
}

.right {
    text-align:right;
}

.menu {
    text-align:right;
}

.row {
    margin:0px;
    padding:0px;
    /*border:1px solid #008C00;*/
    color:#ccc;
    font-family: Monaco, Courier, monospace;
    font-size:12px;
}

.space {
}

.cursor {
    background-color:#ccc;
}

.reset {
    color:#ccc; background-color:black
}
.bright {}
.dim {}
.underscore {}
.blink {}
.reverse {}
.hidden {}

.fg-black {
    color: black;
}
.fg-red {
    color: #FF1A00;
}
.fg-green {
    color: #008C00;
}
.fg-yellow {
    color: #FFFF88;
}
.fg-blue {
    color: #4096EE;
}
.fg-magenta {
    color: #FF0084;
}
.fg-cyan {
    color: #C3D9FF;
}
.fg-white {
    color: white
}

.bg-black {
    background-color: black
}
.bg-red {
    background-color: #FF1A00
}
.bg-green {
    background-color: #008C00
}
.bg-yellow {
    background-color: #FFFF88
}
.bg-blue {
    background-color: #4096EE
}
.bg-magenta {
    background-color: #FF0084
}
.bg-cyan {
    background-color: #C3D9FF
}
.bg-white {
    background-color: white
}
